{% extends 'base.html' %}
{% block container %}
    <h1 class="display-5 mt-4">Летим <span data-test="from">{{ departure }}</span></h1>
    <p class="mb-4" >Найдено <span data-test="tourcount">{{ tours|length }}</span> туров, от <span data-test="pricemin">{{ pricemin }}</span> до <span data-test="pricemax">{{ pricemax }}</span> и от <span data-test="nightsmin">{{ nightsmin }}</span> ночей до <span data-test="nightsmax">{{ nightsmax }}</span> ночей</p>
    <!-- HERO -->



    <!-- CARDS -->
    <div class="row mt-5" data-test="cards">
    {% for tour_id, tour_values in tours.items %}
    <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="{{ tour_values.picture }}" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">{{ tour_values.title  }}</h5>
              <p class="card-text">{{ tour_values.description }}</p>
              <a href="/tour/{{ tour_id }}/" class="btn btn-sm btn-primary"  data-test="tourlink">Подробнее</a>
            </div>
        </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}

